<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title th:text="${name}">ApiDoc Server</title>

  <!-- Bootstrap -->
  <link href="/bootstrap.min.css" rel="stylesheet"/>
  <link href="/custom.css" rel="stylesheet"/>
</head>
<body>

<div class="container">

  <div class="apidocserver">

    <div class="page-header">
      <h1 th:text="${status} + ' ' + ${error}">ErrorCode</h1>
    </div>

    <div class="alert alert-danger" role="alert">
      <tt th:text="${message}">An error Message</tt>
    </div>
  </div>

</div>
<!-- /.container -->

</body>
</html>